# Project exclude paths
/.gradle/
/build/
/out/
/saves/
/shaderpacks/
/resourcepacks/
/logs/
/options.txt
/optionsof.txt
/skidsense/
/.idea/
/usercache.json
/crash-reports/
/servers.dat
/assets/skins/
/src/main/java/Start.java
